:root {
  --bg-primary: blue;
  --bg-secondary: red;
}

input[type="email"] {
  border-color: red;
}

button[data-role="primary"] {
  border: 2px solid violet;
}

*[data-status="error"] {
  color: blueviolet;
}

table tbody tr:nth-child(even) {
  background-color: var(--bg-primary);
}

table tbody tr:nth-child(odd) {
  background-color: var(--bg-secondary);
}

li:nth-child(3n) {
  background-color: cadetblue;
}

.btn:hover {
  cursor: pointer;
}

article h2 + p::first-letter {
  font-size: 100px;
}
